.todoList {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0
}

ul {
    padding: 0;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: 350px;
}